<!DOCTYPE html>
<html>
    <head>
        <title>About Weather App</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Satya Sanipini. It uses data from mapbox.com and weatherstack.com</p>
            <img src="/img/weather.png" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>
